.inscription-right-container {
  max-width: 520px;
  width: 100%;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logo-login {
  display: flex;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  max-height: 200px;
}

.logo-login img {
  font-weight: 600;
  color: #000;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  max-height: 50px;
}

.return {
  color: rgba(255,255,255,0.7);
  cursor: pointer;
  transition-duration: 0.3s;
}

.return:hover {
  text-decoration: underline;
   color:rgba(255,255,255,0.9);
}