.articles-list {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 40px;
  max-width: 70vw;
  margin: 40px auto;
  padding: 0 20px;
  justify-items: center;
}

/* Responsive : 2 colonnes sur tablette */
@media (max-width: 1024px) {
  .articles-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive : 1 colonne sur mobile */
@media (max-width: 640px) {
  .articles-list {
    grid-template-columns: 1fr;
  }
}
