/* --- MOBILE FIRST --- */

.accueil {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.accueil h1 {
  margin: 0 auto 2rem auto;
  font-size: clamp(2rem, 5vw, 3rem);
  color: #fce9ed;
  text-align: center;
  margin-top: 15%;
  z-index: 1;

}

/* Sur mobile, tout est en colonne */
.accueil-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  z-index: 1;
}

/* Textes sur mobile : prennent la largeur */
.accueil-content p:first-of-type,
.accueil-content p:last-of-type {
  flex: 0 0 30%;
  min-width: 120px;
  width: 100%;
}

.model-wrapper {
  flex: 0 0 30%;
  height: 30 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width: 100%;
}

.model-wrapper > div {
  width: 100%;
  height: 100%;
  max-height: 300px;
}

.BoiteDeBoite {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.BoiteDeTexte {
  border: 1px solid #fce9ed;
  border-radius: 20px;
  margin: 10px;
  padding: 5px 10px;
  min-width: 40vw;
  align-content: center;
}

.BoiteDeTexte h2, .BoiteDeTexte p, .BoiteDeTexte h3 {
  margin-left: 2%;
}
.BoiteDeTexte h2 {
  color: #fce9ed;
  font-size: 1.5rem;
}

.BoiteDeTexte h3 {
  color: #fce9ed;
  font-size: 1.2rem;
}

.BoiteDeTexte p {
  color: rgba(252, 233, 237, 0.5);
  font-size: 1rem;
}

/* --- TABLETTE --- */
@media (min-width: 1024px) {
  .accueil-content {
    flex-direction: row;
    align-items: center;
    gap: 5%;
    max-width: 1200px;
  }

  .model-wrapper {
    height: 400px;
  }

  .BoiteDeBoite {
    flex-direction: row;
  }
}

/* --- DESKTOP (>= 1024px) --- */
@media (min-width: 1280px) {
  .accueil-content p:first-of-type {
    flex: 0 0 30%;
  }

  .model-wrapper {
    flex: 0 0 30%;
  }

  .accueil-content p:last-of-type {
    flex: 0 0 30%;
  }

  .accueil h1 {
    margin: 0 auto 2rem auto;
    font-size: clamp(2rem, 5vw, 3rem);
    color: #fce9ed;
    text-align: center;
    margin-top: 5%;
  }
}
