/* dark theme */

.DarkTheme_Border {
  border: 1px solid #fce9ed;
}

.DarkTheme_body {
  color: #fce9ed;
  background-color: #0d0205;
}

.DarkTheme_subbtle-texte {
  color: rgba(252, 233, 237, 0.5);
}
.DarkTheme_subbtle-background {
  background-color: #23050e;
}
.DarkTheme_light-background {
  background-color: #360815;
  color: #fce9ed;

}
.DarkTheme_link {
  color: #7577bd;
}

/* Night theme */
.NightTheme_Border {
  border: 1px solid #fce9ed;
}

.NightTheme_body {
  color: #fce9ed;
  background-color: #101123;
}

.NightTheme_subbtle-texte {
  color: rgba(252, 233, 237, 0.5);
}
.NightTheme_subbtle-background {
  background-color: #121c35;
}

.NightTheme_light-background {
  background-color: #15203c;
}

.NightTheme_link {
  color: #ad1b3b;
}
/* Light theme */

.LightTheme_Border {
  border: 1px solid #e2e8f0;
}

.LightTheme_body {
  color: #fce9ed;
  background-color: #212245;
}

.LightTheme_subbtle-texte {
  color: rgba(252, 233, 237, 0.5);
}
.LightTheme_subbtle-background {
  background-color: rgba(41, 43, 86, 1);
  color: #fce9ed;
}
.LightTheme_light-background {
  background-color: #191a34;
  color: #fce9ed;

}

.LightTheme_link {
  color: #ad1b3b;
}
