.DarkTheme_Border {
  border: 1px solid #fce9ed;
}

.DarkTheme_body {
  color: #fce9ed;
  background-color: #0d0205;
}

.DarkTheme_subbtle-texte {
  color: rgba(252, 233, 237, 0.5);
}

.DarkTheme_subbtle-background {
  background-color: #23050e;
  color: #fce9ed;
}

.DarkTheme_light-background {
  background-color: #360815;
  color: #fce9ed;
}

.DarkTheme_link {
  color: #ad1b3b;
  text-decoration: none;
}

.DarkTheme_link:hover,
.DarkTheme_link:focus {
  text-decoration: underline;
}

.DarkTheme_Light-Btn {
  border: 2px solid #fce9ed;
  background-color: transparent;
  color: #fce9ed;
  cursor: pointer;
}

.DarkTheme_Light-Btn:hover {
  background-color: #fce9ed;
  color: #0d0205;
}

.DarkTheme_image-form-Btn.active {
  background-color: #fce9ed;
  color: #0d0205;
}

.DarkTheme_image-form-Btn {
  border: 2px solid #fce9ed;
  background-color: transparent;
  color: #fce9ed;
  cursor: pointer;
}

.DarkTheme_image-form-Btn:hover {
  border-color: #7577bd;
}

.DarkTheme_Light-Btn-inverse {
  border: 2px solid #fce9ed;
  background-color: #fce9ed;
  color: #0d0205;
  cursor: pointer;
}

.DarkTheme_Light-Btn-inverse:hover {
  background-color: transparent;
  color: #fce9ed;
}

.DarkTheme_header {
  background: #ffffff0e;
}

.DarkTheme_link-header {
  color: #fce9ed;
}

.NightTheme_Border {
  border: 1px solid #fce9ed;
}

.NightTheme_body {
  color: #fce9ed;
  background-color: #101123;
}

.NightTheme_subbtle-texte {
  color: rgba(252, 233, 237, 0.5);
}

.NightTheme_subbtle-background {
  background-color: #121c35;
  color: #fce9ed;
}

.NightTheme_light-background {
  background-color: #15203c;
  color: #fce9ed;
}

.NightTheme_image-form-Btn.active {
  background-color: #fce9ed;
  color: #0d0205;
}

.NightTheme_image-form-Btn {
  border: 2px solid #fce9ed;
  background-color: transparent;
  color: #fce9ed;
  cursor: pointer;
}

.NightTheme_image-form-Btn:hover {
  border-color: #ad1b3b;
}

.NightTheme_Light-Btn {
  border: 2px solid #fce9ed;
  background-color: transparent;
  color: #fce9ed;
  cursor: pointer;
}

.NightTheme_Light-Btn:hover {
  background-color: #fce9ed;
  color: #0d0205;
}

.NightTheme_Light-Btn-inverse {
  border: 2px solid #fce9ed;
  background-color: #fce9ed;
  color: #0d0205;
  cursor: pointer;
}

.NightTheme_Light-Btn-inverse:hover {
  background-color: transparent;
  color: #fce9ed;
}

.NightTheme_header {
  background: #ffffff0e;
}

.NightTheme_link-header {
  color: #fce9ed;
}

.NightTheme_link {
  color: #ad1b3b;
  text-decoration: none;
}

.NightTheme_link:hover,
.NightTheme_link:focus {
  text-decoration: underline;
}

.LightTheme_Border {
  border: 1px solid #e2e8f0;
}

.LightTheme_body {
  color: #fce9ed;
  background-color: #212245;
}

.LightTheme_subbtle-texte {
  color: rgba(252, 233, 237, 0.5);
}

.LightTheme_subbtle-background {
  background-color: rgba(41, 43, 86, 1);
  color: #fce9ed;
}

.LightTheme_light-background {
  background-color: #191a34;
  color: #fce9ed;
}

.LightTheme_link {
  color: #ad1b3b;
  text-decoration: none;
}

.LightTheme_link-header {
  color: #fce9ed;
}

.LightTheme_link:hover,
.LightTheme_link:focus {
  text-decoration: underline;
}

.LightTheme_image-form-Btn.active {
  background-color: #fce9ed;
  color: #0d0205;
}

.LightTheme_image-form-Btn {
  border: 2px solid #fce9ed;
  background-color: transparent;
  color: #fce9ed;
  cursor: pointer;
}

.LightTheme_image-form-Btn:hover {
  border-color: #ad1b3b;
}

.LightTheme_Light-Btn {
  border: 2px solid #fce9ed;
  background-color: transparent;
  color: #fce9ed;
  cursor: pointer;
}

.LightTheme_Light-Btn:hover {
  background-color: #fce9ed;
  border: 2px solid #fce9ed;
  color: #0d0205;
}

.LightTheme_Light-Btn-inverse {
  border: 2px solid #fce9ed;
  background-color: #fce9ed;
  color: #0d0205;
  cursor: pointer;
}

.LightTheme_Light-Btn-inverse:hover {
  background-color: transparent;
  color: #fce9ed;
  border: 2px solid #fce9ed;
}

.LightTheme_header {
  background: #ffffff0e;
  color: #0d0205;
}

.CreamTheme_Border {
  border: 1px solid #201a1a;
  color: #0d0205;
}

.CreamTheme_body {
  color: #0d0205;
  background-color: #ffeed3;
}

.CreamTheme_subbtle-texte {
  color: rgba(31, 26, 23, 0.521);
}

.CreamTheme_subbtle-background {
  background-color: #efe2cf;
  color: #0d0205;
}

.CreamTheme_light-background {
  background-color: #fffaf2;
  color: #0d0205;
}

.CreamTheme_link {
  color: #ad1b3b;
  text-decoration: none;
}

.CreamTheme_link-header {
  color: #0d0205;
}

.CreamTheme_image-form-Btn.active {
  background-color: #0d0205;
  color: #fce9ed;
}

.CreamTheme_image-form-Btn {
  border: 2px solid #0d0205;
  background-color: transparent;
  color: #0d0205;
  cursor: pointer;
}
.CreamTheme_image-form-Btn:hover {
  border-color: #ad1b3b;
}

.CreamTheme_Light-Btn {
  border: 2px solid #0d0205;
  background-color: transparent;
  color: #0d0205;
  cursor: pointer;
}

.CreamTheme_Light-Btn:hover {
  background-color: #0d0205;
  color: #fce9ed;
}

.CreamTheme_Light-Btn-inverse {
  border: 2px solid #0d0205;
  background-color: #0d0205;
  color: #fce9ed;
  cursor: pointer;
}

.CreamTheme_Light-Btn-inverse:hover {
  background-color: transparent;
  color: #0d0205;
}

.CreamTheme_header {
  background: #7978780e;
}

.CreamTheme_link:hover,
.CreamTheme_link:focus {
  text-decoration: underline;
}

.DarkTheme_Graph {
  background-color: #0d0205;
  color: #fce9ed;
}

.DarkTheme_Graph text {
  fill: #fce9ed;
}

.DarkTheme_Graph .graph-grid {
  stroke: rgba(252, 233, 237, 0.2);
}

.DarkTheme_Graph .graph-axis {
  stroke: #fce9ed;
}

.DarkTheme_Graph .graph-bar {
  fill: #ad1b3b;
}

.DarkTheme_Graph .graph-line {
  stroke: #ad1b3b;
}

.NightTheme_Graph {
  background-color: #101123a6;
  color: #fce9ed;
}

.NightTheme_Graph text {
  fill: #fce9ed;
}

.NightTheme_Graph .graph-grid {
  stroke: rgba(252, 233, 237, 0.25);
}

.NightTheme_Graph .graph-axis {
  stroke: #fce9ed;
}

.NightTheme_Graph .graph-bar {
  fill: #7577bd;
}

.NightTheme_Graph .graph-line {
  stroke: #7577bd;
}

.LightTheme_Graph {
  background-color: #212245;
  color: #fce9ed;
}

.LightTheme_Graph text {
  fill: #fce9ed;
}

.LightTheme_Graph .graph-grid {
  stroke: rgba(252, 233, 237, 0.2);
}

.LightTheme_Graph .graph-axis {
  stroke: #fce9ed;
}

.LightTheme_Graph .graph-bar {
  fill: #ad1b3b;
}

.LightTheme_Graph .graph-line {
  stroke: #ad1b3b;
}

.CreamTheme_Graph {
  background-color: #ffeed3;
  color: #0d0205;
}

.CreamTheme_Graph text {
  fill: #0d0205;
}

.CreamTheme_Graph .graph-grid {
  stroke: rgba(13, 2, 5, 0.2);
}

.CreamTheme_Graph .graph-axis {
  stroke: #0d0205;
}

.CreamTheme_Graph .graph-bar {
  fill: #ad1b3b;
}

.CreamTheme_Graph .graph-line {
  stroke: #ad1b3b;
}
